.projectsContainer {
  color: #242424;
}

.projectsTitle h3 {
  font-weight: 400;
  line-height: 70px;
  color: #42446e;
}

.projectsTitle p {
  color: #42446e;
}

.projectsTitle {
  margin: 50px auto;
  text-align: center;
}

.projectsList {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1400px) {
  .projectsList {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 870px) {
  .projectsList {
    grid-template-columns: repeat(1, 1fr);
  }
}
