.header{
  height: 150px;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
}

.headerNav {
  max-width: 800px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
