.header {
  height: 150px;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
}

.headerNav {
  max-width: 850px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.switchers {
  height: 70px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
