.footer {
  margin-top: 100px;
  height: 220px;
}

.contactBar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 2px solid #666666;
}

.contactsContainer {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contactsContainer a {
  color: #42446e;
  text-decoration: none;
}

.footerNav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aboutProject p {
  color: #666666;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 870px) {
  .navContainer {
    margin: 20px 0;
  }
  .footerNav {
    flex-direction: column;
  }
}

@media screen and (max-width: 735px) {
  .logoContainer {
    margin: 20px auto;
  }
  .contactsContainer {
    width: 100%;
  }
  .contactBar {
    flex-wrap: wrap;
  }
  .aboutProject {
    padding: 20px;
  }
}

@media screen and (max-width: 560px) {
  .socialNetworks {
    order: -1;
  }

  .contactsContainer {
    flex-direction: column;
    height: 150px;
  }
}
