@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-ExtraLight.woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-Medium.woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-Black.woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-Bold.woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

html,
#dark {
  background: #191919;
  transition: all 0.3s;
}

html,
#light {
  background: #fff;
  transition: all 0.3s;
}

h1 {
  font-weight: 800;
}

#dark .about-me,
#dark .tech-title,
#dark .projects-title h3,
#dark .projects-title p,
#dark .project-links span a,
#dark .project-desc h4,
#dark .about-page h1,
#dark .contact-title h1,
#dark .select {
  color: #fff;
}

#dark .contact-links a {
  color: #666666;
}

#dark .main-photo-bg {
  transition: all 0.3s;
  background: #191919;
}

#dark .project-card {
  color: #ccc;
  background: #363636;
  box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.2);
}

.active {
  background: -webkit-linear-gradient(
    left,
    #40a5ee,
    #c429b7
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.content-wrapper {
  min-height: calc(100vh - 470px);
  display: flex;
  align-items: center;
  justify-content: center;
}
